.body {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
}

.x_field {
    display: flex;
    flex-direction: row;
}

.y_field {
    display: flex;
    flex-direction: row;
}

.r_field {
    display: flex;
    flex-direction: row;
}